@import 'Colors';

.svg-container {
    width: 80%;
    display: inline-block;
    position: relative;
    background-color: $black-highlight;
}

.svg-content {
    display: inline-block;
}

.date-picker {
    height: 400px;
    position: absolute;
    left:50%;
    margin-left: -50%;
    margin-top: 10;
}

.dateAxis text {
    fill: #8c8c8c;
}

.valueAxis text {
    fill: #8c8c8c;
}
