$green: #02C39A;
$white: #FFFAF1;
$dark-green: #00A896;
$very-dark-green: #018b80;
$extremely-dark-green: #027067;
$highlight-blue: #16d9f3;
$error-color: #ff9900;

// Colors for the different card types
$card-color-compute: #ff2600;
$card-color-fad: #2f00ff;