.content-container {
    display: block;
    background-color: var(--background-color);
}

.x-axis text {
    fill: var(--text-color);
}

.x-axis path {
    stroke: var(--text-color);
}

.y-axis text {
    fill: var(--text-color);
}

.y-axis path {
    stroke: var(--text-color);
}

.chart-view-box {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    /* invalid property value error ? */
    direction: rtl;
    z-index: 999;
}

.chart-lines {
    position: absolute;
    z-index: 1;
}

/* Webkit-based browsers (Chrome, Safari) */
/* Dark Mode Styling */
::-webkit-scrollbar {
    height: 6px;
    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll-bar-background-color);
    /* Background color of the track */
    border-radius: 8px;
    /* Rounded corners */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
    /* Color of the scroll thumb */
    border-radius: 8px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
    /* Color of the scroll thumb on hover */
}