/* styles.css or your global styles file */
:root {
    /* Define color variables for light and dark modes */
    --primary-color: #3498db;
    --text-color: #333;
    --background-color: #fff;
    --bs-body-bg: #fff;
    --bs-body-color: #333;
    --scroll-bar-background-color: #fff;
}

/* Dark Mode */
.dark-mode {
    --primary-color: #2980b9;
    --text-color: #a0a0a0;
    --background-color: #222;
    --bs-body-bg: #222;
    --bs-body-color: #fff;
    --scroll-bar-background-color: #333;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}